@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800&display=swap');

:root {
    --primaryColor: #2e3366;
    --violet: #690b9a;
    --pink: #af358c;
    --blue: #2969ca;
    --lightBlue: #22B8CF;
    --cream: #f6d2d4;
    --white: #fff;
    --font: 16px;
    --fontFamily: 'Raleway', sans-serif;
    --transition: .4s ease-in-out;
}

/**********
Basic styles
**********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--font);
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

.container {
    width: 90%;
    margin: auto;
}

button {
    border-radius: 30px;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    transition: var(--transition);
}

button:focus {
    outline: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 150px;
    height: auto;
    transition: var(--transition);
}

.logo:hover {
    color: var(--cream);
    width: 200px;
}

/***header***/
header {
    background-image: url(img/header.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/***navbar***/
.navbar {
    background: var(--violet) !important;
    color: var(--white) !important;
    opacity: .9;
    overflow: visible;
}

.navbar-brand {
    color: var(--white) !important;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 0;
    padding: 0;
    line-height: 1rem;
}

.navbar h3 {
    border-radius: 50%;
    padding: 5px;
    background: var(--white);
    color: var(--violet);
    text-align: center;
    font-weight: 500;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: var(--white);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: var(--white) !important;
    font-weight: 700;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: var(--white) !important;
    font-weight: 700;
}

hgroup {
    color: var(--white);
}

hgroup h1 {
    font-size: 2.5rem;
}

hgroup .row {
    height: 100vh;
}

hgroup .row .col-md-6:nth-child(1n) {
    padding-left: 100px;
}

hgroup .row .col-md-6:nth-child(2n) {
    padding: 0;
}

hgroup .row .col-md-6:nth-child(1n) p {
    font-size: 1rem;
    text-transform: uppercase;
}

header hgroup .row button {
    background: transparent;
    border: 1px solid var(--white);
    color: var(--white);
}

header hgroup .row button:hover {
    border: none;
    color: var(--primaryColor);
    background: var(--white);
}

/***radionice***/
#radionice h2 {
    color: var(--violet);
    letter-spacing: 1px;
}

#radionice img {
    width: 100%;
    margin: auto;
}

#radionice button {
    background: linear-gradient(to left, var(--violet), var(--blue));
    color: var(--white);
    border: none;
}

#radionice button:hover {
    background: linear-gradient(to right, var(--violet), var(--blue));
    box-shadow: 20px 0 20px lightgray !important;
}

#radionice p {
    font-weight: 500;
    letter-spacing: 1px;
}

/***divider***/
.divider {
    background-image: url(img/divider.png);
    background-position: center;
    background-size: cover;
}

.divider .row {
    height: 110vh;
}

.divider .row p {
    transform: rotate(-12deg);
    text-align: center;
    font-size: 1.2rem;
    padding-top: 100px
}

/***kursevi***/
#kursevi h2 {
    color: var(--violet);
    letter-spacing: 1px;
}

#kursevi img {
    width: 100%;
    margin: auto;
}

#kursevi button {
    background: linear-gradient(to left, var(--violet), var(--blue));
    color: var(--white);
    border: none;
}

#kursevi button:hover {
    background: linear-gradient(to right, var(--violet), var(--blue));
    box-shadow: 20px 0 20px lightgray !important;
}

#kursevi p {
    font-weight: 500;
    letter-spacing: 1px;
}

/***footer***/
footer {
    color: var(--white);
    background-image: url(img/footer.png);
    background-position: center;
    background-size: cover;
    height: 265px;
    width: 100%;
    margin: auto;
}

/* footer img {
    width: 150px;
    height: auto;
} */

footer .row {
    padding-top: 100px;
}

footer .row p {
    margin: 0;
}

footer .row a {
    color: var(--cream);
}

footer .row .col-md-6 {
    font-size: 2rem;

}

footer .row .col-md-6 a {
    color: var(--white);
    margin-left: 20px;
    transition: var(--transition);
}

footer .row .col-md-6 a:hover {
    color: var(--cream);
    font-size: 3rem;
}